.log-row{
    width: auto;
}
.log-item{
    min-height: 70px ;
    display: flex;
    width:auto;
}
.log-pic{
    background: #00cccc;
    border-radius: 50%;
    border: 1px solid #0c5460;
    width: 10px;
    height: 10px;
    padding: 28px;
    margin-top: 7px;
}
.log-content{
    padding-top: 3px;
    height: 70px;
    min-width: 60%;
    margin-left: 10px;
}
.log-msg{
    font-size: 17px;
    font-weight: 600;
}
.log-date{
    font-size: 13px;
    font-weight: 400;
}
.log-row:hover > .log-container{
    border-radius: 20PX;
    background: rgba(152, 152, 152, 0.6);
}
.log-row:hover .fa-cog{
    display: block !important;
    color: rgba(73, 73, 73, 0.9) !important;
}